NODE_ENV=dev
APP_PORT=3000
APP_PREFIX=api
JWT_ACCESS_SECRET=access_secret
JWT_REFRESH_SECRET=refresh_secret
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=30d
JWT_REFRESH_TTL_SECONDS=2592000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=hackathon_demo
DB_SSL=false
DB_LOGGING=false

REDIS_HOST=localhost
REDIS_PORT=6379

THROTTLE_TTL=60
THROTTLE_LIMIT=100

GITLAB_API_URL=https://git.netko.vn/api/v4
GITLAB_API_TOKEN=
GITLAB_PROJECT_ID=
GITLAB_SAKURA_PROJECT_ID=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash

